@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #fff;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #8023f9;
    border-radius: 100vh;
    border: 3px solid #fff;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
